<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfone.mall.base.mapping.work.JfoneTransitInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jfone.mall.base.entity.work.JfoneTransitInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="t_outlet_address" property="tOutletAddress" jdbcType="VARCHAR" />
    <result column="t_status" property="tStatus" jdbcType="VARCHAR" />
    <result column="t_delivery_info_id" property="tDeliveryInfoId" jdbcType="INTEGER" />
    <result column="t_sign_info_id" property="tSignInfoId" jdbcType="INTEGER" />
    <result column="t_waybill_id" property="tWaybillId" jdbcType="INTEGER" />
  </resultMap>
</mapper>