<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfone.mall.base.mapping.work.JfoneWayBillMapper" >
  <resultMap id="BaseResultMap" type="com.jfone.mall.base.entity.work.JfoneWayBill" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="w_shipping_id" property="wShippingId" jdbcType="INTEGER" />
    <result column="w_order_id" property="wOrderId" jdbcType="INTEGER" />
    <result column="w_sign_status" property="wSignStatus" jdbcType="VARCHAR" />
  </resultMap>
</mapper>